
/******************************* GENERAL *********/

a {
	color: #fff;
	text-decoration: none;
	
}
body {
	font-family: Lato, Arial, Helvetica, sans-serif;
	margin: 0;   
	display: block;                                                  
}


ul {
	list-style: none;
	margin: 0px;
}

/******************************* HEADER *********/

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;	
}

nav {
	background-color: #c3243c;
	text-align: right;
	}

nav ul {
	padding: 20px 0px;
	width: 90%;
	margin: 0 auto;
	text-align: right;
}
nav li {
	font-size: 16px;
	color: #fff;
	margin: 0px;
	display: inline-block;
	padding: 0 15px;
}


/******************************* CONTENT *********/

main {
	width: 100%;
	
}

main section {
	display: block;
}

#container {
	padding-top: 58px;
}

/****** HOME ******/

#home {
	background-image: url("Simone-home1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: auto;
	padding: 20px 20px 20px 40px;
	
	}

#titolo {
	
}

#titolo img {
	padding: 10px 0px 50px 0px;
	width: 54%;
	}

#payoff {
	width: 60%;
	
}

#payoff p {
	font-size: 24px;
	color: #fff;
	padding: 20px 0px 40px 0px;
	margin: 0px;
}	


#continua p {
	color: #fff;
	font-size: 20px;
	font-style: italic;
	color: #c3243c;
	text-align: center;
	margin: 0px;
	padding: 50px 0 40px 0;
}

/****** CORPO ******/

#content {
	padding: 0px;
	margin: 0 auto;
	display: block;

	}

#simone {
	background-color: #f0f0f0;
	padding: 60px 0px 40px 0px;

}

#simone .simone-block {
	width: 70%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
}

.simone-pic img {
	border-radius: 100%;
	width: 300px;

}

.simone-txt {
	padding-left: 40px;
}

.simone-txt h1 {
	text-transform: uppercase;
}

.simone-txt p {
	text-align: justify;
	padding-top: 30px;
	
}

#bottom {
	background-color: #f0f0f0;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#info {
	margin: 0 auto;
}

#info ul {
	line-height: 24px;
	padding: 0px;

}

#info a {
	color: #000;
}

.social img {
	padding: 20px 15px 0px 0px;
}



footer {
	background-color: #808080;
	margin: 0 auto;
	padding: 5px 0px;
}

#ringraziamenti {
	
	color: #737070;
	width: 95%;
	text-align: center;

}

#lista {
	color: #f0f0f0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#lista h3 {
	color: #f0f0f0;
}

/******************************* MEDIA Q *********/


@media screen and (max-width: 320px){
	#titolo img {
	padding: 10px 0px 50px 0px;
	width: 100%;
	}

#payoff {
	width: 90%;
	
}

#payoff p {
	font-size: 24px;
	color: #fff;
	padding: 20px 0px 40px 0px;
	margin: 0px;
}	
					
}

@media screen and (min-width: 321px) and (max-width: 480px){
	#titolo img {
	padding: 10px 0px 50px 0px;
	width: 100%;
	}

#payoff {
	width: 90%;
	
}

#payoff p {
	font-size: 24px;
	color: #fff;
	padding: 20px 0px 40px 0px;
	margin: 0px;
}	
			
}

@media screen and (min-width: 481px) and (max-width: 600px){
	#titolo img {
	padding: 10px 0px 50px 0px;
	width: 90%;
	}

#payoff {
	width: 90%;
	
}

#payoff p {
	font-size: 24px;
	color: #fff;
	padding: 20px 0px 40px 0px;
	margin: 0px;
}	
			
}

@media screen and (min-width: 601px) and (max-width: 768px){
	#titolo img {
	padding: 10px 0px 50px 0px;
	width: 60%;
	}

#payoff {
	width: 70%;
	
}

#payoff p {
	font-size: 24px;
	color: #fff;
	padding: 20px 0px 40px 0px;
	margin: 0px;
}	
			
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	#titolo img {
	padding: 0px 0px 50px 0px;
	width: 50%;
	}

			

}

@media screen and (min-width: 1025px) and (max-width: 1200px){
	
	#titolo img {
	padding: 0px 0px 50px 0px;
	width: 50%;
	}

	#payoff p {
	padding: 90px 0px 40px 0px;


}

@media screen and (min-width: 1201px){
	#titolo img {
	padding: 0px 0px 50px 0px;
	width: 40%;
	}
}


