
/******************************* GENERAL *********/

html body {
	font-family: Lato, Arial, Helvetica, sans-serif;
	width: 100%;
}

a {
	text-decoration: none;	
}

ul {
	list-style: none;
	margin: 0;
}

main {
	padding-top: 58px;
	width: 100%;
}

/******************************* HEADER *********/

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;	
}

nav {
	background-color: #c3243c;
	text-align: right;

	}

nav ul {
	padding: 20px 0px;
	width: 90%;
	margin: 0 auto;
	text-align: right;
	
}
nav li {
	font-size: 20px;
	color: #fff;
	margin: 0px;
	padding: 0 25px;
	display: inline-block;
}

nav a {
	color: #fff;
}



/****** HOME ******/

#home {
	background-image: url("Simone-home1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 40px 20px;
	width: 90%;
	height: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}

#titolo img {
	padding: 10px 0px 50px 30px;
	width: 50%;
	}

#payoff {
	width: 60%;
	margin: 0 auto;
}

#payoff p {
	font-size: 24px;
	color: #fff;
	margin: 0px;
	padding-bottom: 80px;
	text-align: center;
}	


/******************************* CONTENT *********/


#container {
	width: 100%;
	}

#chi-siamo {
	max-width: 80%;
	margin: 0 auto;
	padding: 60px 0px;
	}

#chi-siamo h1 {
	padding: 0 0 30px 0px;
	font-size: 52px;
}

#simone-fabio-nicole {
	padding: 40px 0px 40px 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;

}

#simone-fabio-nicole .blocco {
	flex: 1 1 33.333%;
	padding: 0px 15;
	text-align: justify;
}

#simone-fabio-nicole img {
	margin: 0 auto;
}

#foto-simo {
	text-align: center;
}

/****** Fsbio ******/

.Fabio {
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	
}

#foto-fabio {
	text-align: center;
}

#foto-fabio img {
	width: 200px;
	border-radius: 100px;
}
#leggi-f {
	display: none;}

/****** Nicole ******/

.Nicole {
	padding: 0px 15px;
	display: flex;
	flex-direction: column;

}

#foto-nicole {
	text-align: center;
}

#foto-nicole img {
	width: 200px;
	border-radius: 100px;
	margin: 0 auto;
}

.Nicole a {
	color: #000;	
}

#leggi-n {
	display: none;}

/****** Simone ******/

.Simone {
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	}

#foto-simo {
	text-align: center;
}

#foto-simo img {
	width: 200px;
	border-radius: 100px;
}

#leggi-s {
	display: none;}

/****** progetto ******/

#progetto {
	max-width: 80%;
	margin: 0 auto;
	padding: 60px 0px;
	text-align: center;
	}
#progetto h1 {
	padding: 0 0 30px 0px;
	font-size: 52px;
	color: #c3243c;
	margin: 0;
}	

#progetto a {
	text-decoration: none;
	color: #c3243c;
}

#copertina {
	margin: 0 auto;
	padding: 40px 20px;
	height: 700px;
	margin: 0 auto;
	}


/****** Contatti ******/

#bottom {
	background-color: #f0f0f0;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}

#info {
	margin: 0 auto;
}

#info ul {
	line-height: 24px;
	padding: 0px;

}

#info a {
	color: #000;
}

.social img {
	padding: 20px 15px 0px 0px;
}

/********* ringraziamenti ***********/

footer {
	background-color: #808080;
	width: 100%;
	padding: 5px 0px;
}

#ringraziamenti {
	
	color: #737070;
	width: 95%;
	text-align: center;
	margin: 0 auto;
}

#lista {
	color: #f0f0f0;
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

div.thx1 img {
	width: 80px;
}
div.thx2 img {
	width: 120px;
}
div.thx3 img {
	width: 140px;
}

/******************************* MEDIA Q *********/


@media screen and (max-width: 500px){
	
	nav li {
		display: block;
		line-height: 32px;
	}
	main {
		padding-top: 200px;

	}
	
	#home {
		padding: 20px;
		height: 600px;
		}

	#titolo img {
		padding: 10px;
		width: 90%;
	}
	#payoff {
		width: 90%;
	}
	#payoff p {
		padding-bottom: 20px;
	}

	
	#chi-siamo h1 {
	padding: 0 0 30px 0px;
	font-size: 48px;
	text-align: center;
	}
	#simone-fabio-nicole {
	padding: 40px 0px 40px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	}
	.Fabio {
	
	}
	#foto-fabio {
	flex: 1 1 40%;
	text-align: center;
	}
	#foto-fabio img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-F {
	flex: 2 1 60%;
	padding-top: 20px;
	}
	#testo-F h3 {
	margin-top: 0;
	}

	.Nicole {
	padding: 80px 0px 0px 0px;
	}
	#foto-nicole {
	flex: 1 1 40%;
	text-align: center;
	}
	#foto-nicole img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-N {
	flex: 2 1 60%;
	padding-top: 20px;
	
	}
	#testo-n h3 {
	margin-top: 0;
	}

	.Simone {
	padding: 80px 0px;
	}
	#foto-simo {
	flex: 1 1 40%;
	text-align: center;
	}
	#foto-simo img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-S {
	flex: 2 1 60%;
	padding-top: 20px;
	}
	#testo-S h3 {
	margin-top: 0;
	}

	#progetto {
	max-width: 90%;
	}
	#progetto h1 {
	font-size: 42px;
	}

	#footer {
	width: 100%;
	}
	#lista {
	max-width: 100%;
	margin: 0 auto;
	}
	div.thx1 img {
	width: 50px;
	}
	div.thx2 img {
		width: 73px;
	}
	div.thx3 img {
		width: 80px;
	}
}				

@media screen and (min-width: 501px) and (max-width: 934px){
	nav li {
	padding: 0 12px;

}

	#home {
		padding: 20px;
		height: 800px;
	}
		#titolo img {
		padding: 10px;
		width: 80%;
	}
	#payoff {
		width: 90%;
	}


	#simone-fabio-nicole {
	padding: 40px 0px 40px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	}
	.Fabio {
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
	}
	#foto-fabio {
	flex: 1 1 40%;
	text-align: left;
	}
	#foto-fabio img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-F {
	flex: 2 1 60%;
	padding-top: 50px;
	}
	#testo-F h3 {
	margin-top: 0;
	}

	.Nicole {
	display: flex;
	flex-direction: row-reverse;
	padding: 50px 0px;
	}
	#foto-nicole {
	flex: 1 1 40%;
	text-align: right;
	}
	#foto-nicole img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-N {
	flex: 2 1 60%;
	padding-top: 50px;
	text-align: right;
	}
	#testo-n h3 {
	margin-top: 0;
	}

	.Simone {
	display: flex;
	flex-direction: row;
	padding: 50px 0px;
	}
	#foto-simo {
	flex: 1 1 40%;
	text-align: left;
	}
	#foto-simo img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-S {
	flex: 2 1 60%;
	padding-top: 50px;
	}
	#testo-S h3 {
	margin-top: 0;
	}		
}

@media screen and (min-width: 935px) and (max-width: 1080px){
	 


	#simone-fabio-nicole {
	padding: 40px 0px 40px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	}
	.Fabio {
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
	}
	#foto-fabio {
	flex: 1 1 40%;
	text-align: left;
	}
	#foto-fabio img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-F {
	flex: 2 1 60%;
	padding-top: 50px;
	}
	#testo-F h3 {
	margin-top: 0;
	}

	.Nicole {
	display: flex;
	flex-direction: row-reverse;
	padding: 50px 0px;
	}
	#foto-nicole {
	flex: 1 1 40%;
	text-align: right;
	}
	#foto-nicole img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-N {
	flex: 2 1 60%;
	padding-top: 50px;
	text-align: right;
	}
	#testo-n h3 {
	margin-top: 0;
	}

	.Simone {
	display: flex;
	flex-direction: row;
	padding: 50px 0px;
	}
	#foto-simo {
	flex: 1 1 40%;
	text-align: left;
	}
	#foto-simo img {
	width: 90%;
	border-radius: 100%;
	}
	#testo-S {
	flex: 2 1 60%;
	padding-top: 50px;
	}
	#testo-S h3 {
	margin-top: 0;
	}

}

@media screen and (min-width: 1500px){
	#home {
		padding: 20px;
		height: 800px;
	}

	#titolo img {
		padding: 10px;
		width: 43%;
	}
	#payoff {
		width: 65%;
	}
	#chi-siamo {
		max-width: 70%;
		margin: 0 auto;
	}
	#simone-fabio-nicole .blocco {
		padding: 0px 30px;
}
